* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-title {
    font-weight: 700;
    font-size: 4rem;
    color: #333;
    margin-bottom: 30px;
}

#number {
    font-weight: 500;
    font-size: 4.5rem;
    color: #333;
    margin-bottom: 1rem;
}

#number.positive {
    color: rgb(17, 223, 45);
}

#number.negative {
    color: #db1414;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons button {
    padding: 0.4rem 1rem;
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #000;
    color: #fff;
}

.buttons button:active {
    transform: scale(0.94);
}

#gap {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    width: 70px;
    border-radius: 15px;
    padding: 0.1rem 0.5rem 0.5rem;
    border: 1px solid #000;
}

#gap.focused {
    padding: 0.5rem 1rem;
    width: 100px;
}

#gap:focus {
    transition: padding 0.5s ease, width 0.5s ease;
}

#gap:focus::placeholder {
    opacity: 0;
}
